<div class="holder" id="contacto">
  <footer class="footer">
    <div class="display-center">
      <p>© 2024 by Jhon Lopez. All rights reserved.</p>
    </div>

    <div class="flex-1">
      <p>Contáctame</p>
      <div class="img-right">
        <a href="https://www.linkedin.com/in/jhon-lopez-a2a775297">
        <img src="../../assets/linkedin.png">
        </a>
        <a href="https://www.instagram.com/jhon_lopez_22">
        <img src="../../assets/instagram.png">
        </a>
        <a href="https://github.com/jhonldev">
        <img src="../../assets/github.png">
        </a>
      </div>
    </div>
  </footer>
</div>
