<div class="hold" id="resumen">
  <div class="body-text">
    <h1>Jhon Lopez</h1>
    <h2 class="bold-text">Desarrollador de Software</h2>
    <h2>Y</h2>
    <h2 class="bold-text">Analista de Ciberseguridad</h2>
    <img class ="icon" src="../../assets/cybersecurity.svg">
    <p class="low-text">Si deseas conocer mas formalmente como se desarrolla mi <br>
      trayectoria profesional, te invito a descargar mi CV.</p>
    <a class="download-cv" href="../../assets/curriculum.pdf" download="JhonLopezCV">Descargar CV<img class ="icon-download-cv" src="../../assets/download.svg">
    </a>
  </div>

  <div class="body-picture">
    <img src="../../assets/picture.jpg">
  </div>
</div>


<div class="body-text-skill" id="habilidades">
  <h2 class="bold-text">Habilidades</h2>
</div>
<div class="hold-skill">

  <div class="body-text-skill-content">
    <div class="skill">
      <img src="../../assets/angular.png">
      <p>Angular</p>
    </div>
    <div class="skill">
      <img src="../../assets/net.png">
      <p>.NET</p>
    </div>
  </div>

  <div class="body-text-skill-content">
    <div class="skill">
      <img src="../../assets/html.png">
      <p>HTML</p>
    </div>
    <div class="skill">
      <img src="../../assets/mysql.png">
      <p>MySQL</p>
    </div>
  </div>

  <div class="body-text-skill-content">
    <div class="skill">
      <img src="../../assets/css.png">
      <p>CSS</p>
    </div>
    <div class="skill">
      <img src="../../assets/typescript.png">
      <p>TypeScript</p>
    </div>
  </div>

  <div class="body-text-skill-content">
    <div class="skill">
      <img src="../../assets/laravel.png">
      <p>Laravel</p>
    </div>
    <div class="skill">
      <img src="../../assets/ionic.png">
      <p>Ionic</p>
    </div>
  </div>

  <div class="body-text-skill-content">
    <div class="skill">
      <img src="../../assets/gophish.png">
      <p>Gophish</p>
    </div>
    <div class="skill">
      <img src="../../assets/nmap.png">
      <p>NMAP</p>
    </div>
  </div>

</div>


<div>
 <p class="text-me">Actualmente resido en la ciudad de Antofagasta, Chile. Realizando mis estudios universitarios en la Universidad Católica del Norte, donde estudio la carrera de <strong>Ingenieria Civil en Computación e Informatica</strong> para potenciar mis habilidades y brindar soluciones de calidad.
  <br> Mi objetivo profesional es enfocarme en <strong>ciberseguridad</strong>, sin descuidar mis habilidades en desarrollo de software, especialmente en el rol <strong>full stack</strong>.</p>
</div>


<div class="body-text-skill" id="proyectos">
  <h2 class="bold-text">Proyectos</h2>
</div>

<div class="project-body">
  <div class="project-display">
    <div class="project">
    <img src="../../assets/cubi.png">
    <a href="https://bitbucket.org/rickytechdev/mobile"><h3>Cubi12 Mobile</h3></a><p class="project-date">Agosto - Diciembre 2023</p>
    </div>
    <div>
      <p>En este proyecto, lideré el desarrollo del frontend móvil de la aplicación y su despliegue, además de encargarme de la gestión de la base de datos. Cubi12 Mobile desarrollada en Angular e Ionic es una herramienta que permite visualizar las asignaturas cursadas en una carrera universitaria, ademas posee recursos pasados de la asignatura para brindar una facilidad a la hora de encontrar informaciòn relacionada.</p>
    </div>
  </div>

  <div class="project-display">
    <div class="project">
    <img src="../../assets/turjoy.png">
    <a href="https://github.com/jhonldev/Turjoy-IS"><h3>Turjoy</h3></a><p class="project-date">Agosto - Diciembre 2023</p>
    </div>
    <div>
      <p>En este proyecto, asumí el papel de full stack y también me encargué de la gestión de la base de datos. este software desarrollado en Laravel permite realizar compras en una empresa de buses que realiza operaciones en diferentes regiones de chile.</p>
    </div>
  </div>
</div>
<div class="project-body-more">
  <div class="project-display">
    <div class="project">
    <a href="https://github.com/jhonldev/TallerWeb"><h3>Tienda de productos</h3></a><p class="project-date">Abril 2024 - Presente</p>
    </div>
    <div>
      <p>En este proyecto, desempeño el rol full stack. Este software desarrollada en .NET y Angular permite llevar un registro constante del inventario de la tienda de productos, ademas para los clientes, permite realizar compras.</p>
    </div>
  </div>

</div>

<br>
<br>




